.reporte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    width: 75%;
}

.contenedor-principal{
    background-color: whitesmoke;
    height: 80%;
    /* width: 195vh; */
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 15px;
    margin-top: 50px;
  }

.table{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
}

.fila-reporte{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.boton-regresar{
    margin-top: 3%;
    width: 20%;
    height: 50%;
    margin-bottom: 3%;
}

.table-head{
    background-color: rgb(13, 206, 206);
}

.columna1{
    width: 500px;
}