body{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.App{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.contenedor-principal{
  background-color: whitesmoke;
  height: 700px;
  width: 1000px;
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 25px;
  margin-top: 50px;
}

.button{
  margin: 20px;
}

.input{
  margin: 20px;
}

.resultados-busqueda{
  background-color: white;
  width: 850px;
  height: 50px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 30px;
}