body{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.App{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor-principal{
  background-color: whitesmoke;
  height: 80%;
  width: 195vh;
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 15px;
  margin-top: 50px;
}

.button{
  margin: 20px;
}

.input{
  margin: 20px;
}

.resultados-busqueda{
  margin: auto;
  align-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  width: 90vw;
  height: 8vh;
  border: 2px solid black;
  flex-wrap: wrap;
  border-radius: 30px;
}

.menu{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderRow:hover{
  background-color: white;
  border: 3px solid black;
}